.wp-radar-chart-toolsy-container {
    margin: 20px 0;
    text-align: center;
}

.wp-radar-chart-toolsy-container canvas {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
